{
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ]
    ],
    "presets": [
        [
            "babel-preset-gatsby",
            {
                "targets": {
                    "browsers": [
                        ">0.25%",
                        "not dead"
                    ]
                },
                "loaders": [
                    {
                        "test": "/.md$/",
                        "exclude": "/node_modules/",
                        "loader": "babel-loader",
                        "query": {
                            "compact": true
                        }
                    }
                ]
            }
        ]
    ]
}